@import '../../../styles/variables';

.introduce { min-height: 100vh; background-image: url(../../../assets/images/poster.png); background-position: center;
  background-size: cover; display: flex; align-items: center; justify-content: center;

  &__title { font-size: 3.1rem; text-transform: uppercase; letter-spacing: 3px; color: white; width: 90%; text-align: center;
    font-weight: 400; line-height: 44px; margin: 0 auto 35px; opacity: 0;
  }

  &__actions { display: flex; align-items: center; justify-content: center; gap: 10px; opacity: 0; }

  @media (max-width: $mobile) {
    &__title { font-size: 2rem; letter-spacing: 1px; }
  }
}