@import '../../../styles/variables';

.button { font-family: 'Oswald'; color: white; padding: 11px 22px; border-radius: 4px; border: 2px solid;
  cursor: pointer; transition: .15s; line-height: 21px;

  &__primary { border-color: $accent; background-color: $accent; }
  &__outline { border-color: white; background-color: transparent; }

  &:hover { transform: scale(1.015); box-shadow: 0 0 15px rgba(0 0 0 / .5); }
  &:active { transform: scale(0.99); box-shadow: none; }
}