@import '../../../styles/variables';

.icon { display: block; width: 100px; height: 100px; mask-position: center; mask-repeat: no-repeat; mask-size: contain;

  &__menu { mask-image: url(../../../assets/icons/menu.svg); width: 30px; height: 30px; }
  &__close { mask-image: url(../../../assets/icons/close.svg); width: 30px; height: 30px; }
  &__cloud { mask-image: url(../../../assets/icons/cloud.svg); }
  &__layout { mask-image: url(../../../assets/icons/layout.svg); }
  &__settings { mask-image: url(../../../assets/icons/settings.svg); }
  &__video { mask-image: url(../../../assets/icons/video.svg); }
  &__ball { mask-image: url(../../../assets/icons/ball.svg); width: 17px; height: 17px; }
  &__be { mask-image: url(../../../assets/icons/be.svg); width: 17px; height: 17px; }
  &__facebook { mask-image: url(../../../assets/icons/facebook.svg); width: 17px; height: 17px; }
  &__insta { mask-image: url(../../../assets/icons/insta.svg); width: 17px; height: 17px; }
  &__mail { mask-image: url(../../../assets/icons/mail.svg); width: 17px; height: 17px; }
  &__twitter { mask-image: url(../../../assets/icons/twitter.svg); width: 17px; height: 17px; }
  &__w { mask-image: url(../../../assets/icons/w.svg); width: 17px; height: 17px; }

  &_black { background-color: $text; }
  &_red { background-color: $accent; }
  &_white { background-color: white; }
}