// settings //
$index: calc(1vw + 1vh);
$font: 16px;

// colors //
$accent: #CF404D;
$background: #2D3E4F;
$text: #313131;
$light: #fafafa;
$dark: #e1e1e1;

// displays //
$tablet: 1024px;
$mobile: 768px;